* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{

    display: flex;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background: #F5F5F5;
}

/* Index */

.div-main{
    display: flex;
    width: 100%;
    max-width: 430px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;

}
.block_1{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.block_1 img{
    width: 280px;
}
.block_2{
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;   
}
.block_2 h1{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 34px;
    color: #00AD9E;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}
.block_2 p{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 17px;
    color: #000000;
   font-weight: 600;
    text-align: center;
}
.butt {
        border: none;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 64px;
        
       
        
        align-items: center;
        font-size: 17px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #00AD9E;
        border-radius: 16px;
        font-weight: 600;
        cursor: pointer;
    
}
.butt_no_active{
    background-color: #999999;
}



.check_boxx {
    color: #00AD9E;
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}
.check_boxx_in{
    display: flex;
    align-items: center;
}
.inp{
    width: 18px;
    height: 18px;
    margin-right: 16px;
    border-radius: 180px;
}






.pulse {
    
    box-shadow: 0 0 0 rgba(47, 204, 44, 0.4);
    animation: pulse 2s infinite;
  }

  

  @keyframes pulse {
    0% {
      
      box-shadow: 0 0 0 0 #ff3e3e;
    }
    70% {
       
        box-shadow: 0 0 0 18px rgba(204,169,44, 0);
    }
    100% {
       
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

  a{
    text-decoration: none;
}
.pp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
}

.cher{
    width: 2px;
    height: 16px;
    background-color: #999999;
    margin-left: 16px;
    margin-right: 16px;
}

.pp button{
    background: none;
    border: none;
    color: #999999 !important;
    font-weight: 600;
}

/* Modal */

.fade {
    position: fixed;
    display: none;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    overflow: auto;
  }
  
  .modal {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background: #fff;
    max-width: 1080px;
    width: 90%;
    height: 550px;
    padding: 1em;
    z-index: 1001;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    border-radius: 16px;
    border: none;
  }
  
  .active {
    opacity: 1;
    visibility: visible;
  }
  
  .close {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    background: #00AD9E;
    border-radius: 180px;
    color: #ffffff;
    position: absolute;
    right: -15px;
    top: -15px;
    font-size: 2em;
    cursor: pointer;
  }
  .pp_text{
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* прокрутка по горизонтали */
    overflow-y: scroll; /* прокрутка по вертикали */
  }




  /* Questions.html */


  #contentwrapper {
    padding-top: 140px;
}

.questions_box {
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 480px;
    padding: 16px;
    margin: 0 auto;
}

.counter {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #00AD9E;
}

.counter span{
    font-weight: 400;
    font-size: 17px;
    color: #222;
}
.counter .quantity {
    
    font-size: 24px;
    color: black;
    font-weight: 600;
}

#questions_box .step {
    display: none;
}

#result-box {
    display: none;
}

#progress {
    height: 8px;
    padding: 0;
    margin: 0;
    font-size: 0;
    position: relative;
    border: 1px solid #c4c4c4;
    background: #fafafa;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

#progress span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    max-width: 100% !important;
    background: #00AD9E;
    -webkit-transition: right 1s ease 0.2s;
    -moz-transition: right 1s ease 0.2s;
    -o-transition: right 1s ease 0.2s;
    transition: right 1s ease 0.2s;
}

.answer-btn {

    transition: all ease 0.1s;
    transition: background-color 0.5s ease-out; 
}
.answer-btn_style{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 64px;
    border: 2px solid #00AD9E;
    border-radius: 16px;
    background: transparent;
    color: #00AD9E;
    font-size: 17px;
    font-weight: 600;
}
.answer-btn_yes{
    width: 100px;
}
.answer-btn_no{
    width: 180px;
}
.answer-btn_style:active{
    
}

.questions_box img.load {

    width: 64px;
    height: auto;

}

.questions_box h2{
    
    line-height: 100%;
    height: 105px;
    font-weight: 600;
    font-size: 34px;
    color: black;

}

.check_box{
    height: auto;
    padding: 10px;
    background: transparent;
    border-radius: 14px;
    border: 2px solid #00AD9E;
    display: flex;
    align-items: center;
    margin-top: 30%;
}
input{
    
    width: 20px;
    height: 50px;
    margin-right: 3px;
    font-size: 14px;
    border-radius: 14px;
  
}


.check_line{
    color: #61636a;
    text-align: left !important;
    margin-left: 8px;
}

.check_no{
    display: flex;
    align-items: flex-start;
    color: #61636a;
    font-size: 17px;
    margin-bottom: 10px;
    }
.check_yes{
        display: flex;
        align-items: flex-start;
        color: #00AD9E;
        font-size: 17px;
        margin-bottom: 10px;
        }
.check_no img{
        margin-right: 8px;
    }    .check_yes img{
        margin-right: 8px;
    }
#emeil{
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
h3{
    text-align: left;
    color: black;
    font-size: 24px;
    line-height: 100%;
}
.eerror{
    color: red;
    top: 7px;

    position: relative;
}
.error {
    width: 100%;
    height: 300px;
    background: url("../img/first.png");
}